<div class="container mt-5 text-center">

  <h3 class="mb-5">Angular Image Crop</h3>
  <div class="row">
    <div class="col-12">
      <input type="file" (change)="onFileChange($event)" />
    </div>
  
    <div class="col-12">
      <image-cropper 
        [imageChangedEvent]="imgChangeEvent" 
        [maintainAspectRatio]="true" 
        [aspectRatio]="4 / 4"
        [resizeToWidth]="256" 
        format="png" 
        (imageCropped)="cropImage($event)" 
        (imageLoaded)="imageLoad()"
        (cropperReady)="initCropper()" 
        (loadImageFailed)="imageFailed()">
      </image-cropper>
    </div>
  
    <div class="col-12">
      <h6>Image Preview</h6>
      <img [src]="cropImagePreview" />
    </div>
  </div>
  

</div>